<?xml version="1.0"?>
<model>
  <name>intersection</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your@email.com</email>
  </author>
  <description>A tile representing an intersection area for robot movement</description>
</model>
